.bg-login{
  background-image: url('https://organicsnewsbrasil.com.br/wp-content/uploads/2017/05/landscape-2211587_1920.jpg');
  background-size: 1600 1600;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .bg-login{
    padding: 10%;
  }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .bg-login{
    padding: 10%;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .bg-login{
    padding: 15%;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .bg-login{
    padding: 10%;
  }
 }