<form [formGroup]="form" (ngSubmit)="submit()" class="bg-login">
  <div class="">
    <section class="bg-white shadow-sm rounded" style="width: auto;margin: 5%;">
      <div class="p-3 row">
        <div class="col-12 text-center">
          <h1>Agromap</h1>
        </div>
        <ion-item class="col-12">
          <ion-label position="floating">Usuário ou Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required="true" formControlName="email" class="p-1"></ion-input>
        </ion-item>
        <ion-item class="col-12">
          <ion-label position="floating">Senha<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required="true" formControlName="password" type="password" class="p-1"></ion-input>
        </ion-item>
        <div class="col-12 mt-5">
          <a class="card-link" (click)="showModal()">Cadastrar</a>
          <ion-button expand="full" type="submit">Entrar</ion-button>
        </div>
      </div>
    </section>
  </div>
</form>