<ion-toolbar>
  <ion-title>Ocorrência / <small>analisar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12">
      <ion-toolbar *ngIf="ticket.status == 1" color="primary">
        <ion-title>
          <ion-icon name="ios-alert"></ion-icon> Aberto
        </ion-title>
      </ion-toolbar>
      <ion-toolbar *ngIf="ticket.status == 2" color="warning">
        <ion-title>
          <ion-icon name="ios-alert"></ion-icon> Análise
        </ion-title>
      </ion-toolbar>
      <ion-toolbar *ngIf="ticket.status == 3" color="danger">
        <ion-title>
          <ion-icon name="ios-alert"></ion-icon> Finalizado
        </ion-title>
      </ion-toolbar>
      <ion-toolbar *ngIf="ticket.status == 4" color="danger">
        <ion-title>
          <ion-icon name="ios-alert"></ion-icon> Cancelada
        </ion-title>
      </ion-toolbar>
      <ion-item class="col-md-12">
        <ion-label position="floating">Cultura <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input disabled="true" [(ngModel)]="cultura.nome"></ion-input>
      </ion-item>
      <ion-item class="col-md-12">
        <ion-label position="floating">Enfermidade <ion-text color="danger">*</ion-text>
        </ion-label>
        <!--ion-input disabled="true" [(ngModel)]="doenca.nome"></ion-input-->
        <ion-select [(ngModel)]="ticket.contamina" [compareWith]="compareById" (ionBlur)="ticketAtt()">
          <ion-select-option selected *ngFor="let doe of contaminacao" [value]="doe">{{doe.doenca.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="col-md-12">
        <ion-label position="floating">Descrição <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea disabled="true" class="p-1" rows="7" [(ngModel)]="ticket.descricao">
        </ion-textarea>
      </ion-item>
      <section class="col-md-12">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="ticket.img1">
              <ion-img [src]="ticket.img1" width="200px"></ion-img>
            </ion-col>
            <ion-col *ngIf="ticket.img2">
              <ion-img [src]="ticket.img2" width="200px"></ion-img>
            </ion-col>
            <ion-col *ngIf="ticket.img3">
              <ion-img [src]="ticket.img3" width="200px"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </section>
    <section class="col-12">
      <br>
      <ion-button *ngIf="ticket.status != 2" color="dark" expand="full" (click)="atender()">
        Atender Ocorrência
      </ion-button>
    </section>
    <section *ngIf="ticket.status == 2" class="col-12">
      <h2>Tratamentos</h2>
      <section class="col-12" align="right">
        <ion-button (click)="cadastrar()" color="success" expanded="block" shape="round">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </section>
      <section class="col-md-12">
        <ion-grid class="col-12">
          <ion-row>
            <ion-col>
              Tratamento
            </ion-col>
            <ion-col>
              Descrição
            </ion-col>
            <ion-col class="text-center">
              Ação
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item class="col-12" *ngFor="let solu of solucoes">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text>
                    {{solu.tratamento.titulo}}
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-text>{{solu.tratamento.descricao | shorten:80:'...' }} </ion-text>
                </ion-col>
                <ion-col class="text-center">
                  <ion-button fill="clear" (click)=visualizar(solu.tratamento.id) title="Visualizar">
                    <ion-icon name="ios-search"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" (click)=deletar(solu.id) title="Remover">
                    <ion-icon name="ios-trash"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button *ngIf="ticket.status == 2" color="danger" expand="full" (click)="finalizar()">
                Finalizar Ocorrência
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button *ngIf="ticket.status != 4" color="warning" expand="full" (click)="cancelar()">
                Cancelar Ocorrência
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </section>
    <section *ngIf="ticket.status == 3" class="col-12">
      <ion-item class="col-12" *ngFor="let solu of solucoes">
        <ion-grid>
          <ion-row>
            <h2>{{solu.tratamento.titulo}}</h2>
            <ion-text>{{solu.tratamento.descricao }} </ion-text>
          </ion-row>
        </ion-grid>
      </ion-item>
    </section>
  </section>
</ion-content>