<ion-toolbar>
  <ion-title>Cultivo / <small>cadastrar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 ">
      <form [formGroup]="form" (ngSubmit)="submit()" class="col-12 row">

        <ion-item class="col-md-12">
          <ion-label position="floating">Cultura<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select formControlName="cultura" [(ngModel)]="cultivo.cultura"  [compareWith]="compareById">
            <ion-select-option *ngFor="let cul of culturas" [value]="cul">{{cul.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Início Produção<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required="true" formControlName="dataInicio" [(ngModel)]="cultivo.dataInicio" type="date"
            class="p-1">
          </ion-input>

        </ion-item>
        <ion-text color="medium">Campo referênte a data da qual foi iniciada o cultivo desta cultura.</ion-text>
        <ion-item class="col-md-12">
          <ion-label position="floating">Previsão de Término da Produção
          </ion-label>
          <ion-input formControlName="dataFim" [(ngModel)]="cultivo.dataFim" type="date" class="p-1">
          </ion-input>

        </ion-item>
        <ion-text color="medium">Campo referênte a data de colheita desta cultura.</ion-text>
      </form>
    </section>
  </section>
</ion-content>