<script>
  $(function(){
    $('.cpf').mask('000.000.000-00', {reverse: true});
  });
</script>
<ion-content [scrollEvents]="true">
  <form [formGroup]="form" (ngSubmit)="submit()" style="padding: 20px;">
    <div class="p-3 row">
      <div class="col-12">
        <h1>Cadastrar Usuário</h1>
      </div>
      <!-- User -->
      <ion-item class="col-12">
        <ion-label position="floating">Usuário <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="login" class="p-1"></ion-input>
      </ion-item>
      <ion-item class="col-12">
        <ion-label position="floating">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" type="email" formControlName="email" class="p-1"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">Senha<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="password" type="password" class="p-1"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">Confirmar Senha<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="copassword" type="password" class="p-1"></ion-input>
      </ion-item>
      <!-- Fim User -->
      <div class="col-12">
        <h2>Dados Pessoais</h2>
      </div>
      <!-- Pessoa -->
      <ion-item class="col-6">
        <ion-label position="floating">Nome <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="nome" class="p-1"></ion-input>
      </ion-item>
      <ion-item class="col-6">
        <ion-label position="floating">Sobrenome <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="sobrenome" class="p-1"></ion-input>
      </ion-item>
      <ion-item class="col-12">
        <ion-label position="floating">CPF <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" formControlName="cpf" class="p-1 cpf" maxlength="12"></ion-input>
      </ion-item>
      <ion-item class="col-12">
        <ion-label>
          Gênero <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Selecione Sexo" formControlName="sexo" >
          <ion-select-option value="feminino">Feminino</ion-select-option>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="col-12">
        <ion-label position="floating">Data Nascimento<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required="true" type="date"  formControlName="nascimento" class="p-1"></ion-input>
      </ion-item>
      <!-- Fim Pessoa-->
      <div class="col-12 mt-5">
        <ion-button type="submit">Cadastrar</ion-button>
        <ion-button (click)="dismiss()" color="danger" >Cancelar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
