<div class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>
<ion-app>
  <ion-split-pane>
    <ion-menu type="push">
      <div #header id="header">
        <ion-row style="align-items:center;">
          <ion-col col-3>
          </ion-col>
          <ion-col col-6>
            <img class="user-avatar round" [src]="img" onerror="this.src='assets/icon/favicon.png'" />
          </ion-col>
          <ion-col col-3>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <h3>{{nome}} {{sobrenome}}</h3>
        </ion-row>
      </div>
      <div class="divider"></div>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-button expand="full" href="/logout">
        <ion-icon slot="start" name="md-power"></ion-icon>
        Sair
      </ion-button>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
