// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.active {
  --ion-text-color: var(--ion-color-primary);

  ion-icon {
      --ion-text-color-rgb: var(--ion-color-primary);
  }
}

.parent-active {
  font-weight: 500;
}

.sub-item {
  padding-left: 20px;
  font-size: small;
}

#header{
  background-image: url('../assets/img/bg1.jpg');
  background-size: 110% 100%;
  background-attachment: fixed;
  color: #fff;
}
.user-avatar{
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 1px 1px 2px black;
}
.divider{
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis > p {
  width: 100px;
}

