  <ion-toolbar>
    <ion-title>Contamina / <small>listar</small></ion-title>
  </ion-toolbar>
  <ion-content [scrollEvents]="true">
      <section class="col-12 page">
          <section class="col-12" align="right">
            <ion-button (click)="cadastrar()" color="success" expanded="block" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </section>
          <br>
          <ion-grid>
              <ion-row>
                <ion-col>
                  Cultura
                </ion-col>
                <ion-col>
                  Enfermidade
                </ion-col>
                <ion-col class="text-center">
                  Ação
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-list>
              <ion-item *ngFor="let contamina of contaminacao">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{contamina.cultura.nome}}</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{contamina.doenca.nome}}</ion-text>
                    </ion-col>
                    <ion-col class="text-center">
                      <ion-button fill="clear" (click)=editar(contamina.id) title="Editar">
                        <ion-icon name="ios-brush"></ion-icon>
                      </ion-button>
                      <ion-button fill="clear" (click)="deletar(contamina.id,contamina)" title="Excluir">
                        <ion-icon name="md-trash"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
        </section>
    </ion-content>