<ion-toolbar>
  <ion-title>Enfermidade / <small>cadastrar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 ">
      <form [formGroup]="form" (ngSubmit)="submit()" class="col-12 row">
        <ion-item class="col-md-12">
          <ion-label position="floating">Nome<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="type" required formControlName="nome"  [(ngModel)]="doenca.nome"></ion-input>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Causador<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select formControlName="causador"  [(ngModel)]="doenca.causador">
            <ion-select-option value="Fungo">Fungos</ion-select-option>
            <ion-select-option value="Praga">Pragas</ion-select-option>
            <ion-select-option value="Vírus">Vírus</ion-select-option>
            <ion-select-option value="Bactérias">Bactérias</ion-select-option>
            <ion-select-option value="Nematoides">Nematoides</ion-select-option>
            <ion-select-option value="Doença">Doenças</ion-select-option>
            <ion-select-option value="Plantas Daninhas">Plantas Daninhas</ion-select-option>
            <ion-select-option value="Insuficiência Nutricional">Insuficiência Nutricional</ion-select-option>
            <ion-select-option value="Distúrbios fisiológicos">Distúrbios fisiológicos</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Descrição
          </ion-label>
          <ion-textarea formControlName="descricao" [(ngModel)]="doenca.descricao"></ion-textarea>
        </ion-item>
      </form>
    </section>
  </section>
</ion-content>