<ion-toolbar>
  <ion-title>Propriedade / <small>visualizar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 row">
      <ion-item class="col-12">
        <ion-label position="floating">Documento Rural (CAR)</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.documento">
        </ion-input>
      </ion-item>
      <div #map id="map"></div>

      <ion-item class="col-md-6">
        <ion-label position="floating">Logradouro</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.logradouro"></ion-input>
      </ion-item>
      <ion-item class="col-md-6">
        <ion-label position="floating">CEP</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.cep">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-6">
        <ion-label position="floating">Cidade</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.cidade">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-2">
        <ion-label position="floating">UF</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.uf">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-4">
        <ion-label position="floating">Bairro</ion-label>
        <ion-input disabled="true" type="text" class="p-1" [(ngModel)]="propriedade.bairro">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-4">
        <ion-label position="floating">Complemento</ion-label>
        <ion-input disabled type="text" class="p-1" [(ngModel)]="propriedade.complemento">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-4">
        <ion-label position="floating">Número</ion-label>
        <ion-input disabled type="text" class="p-1" [(ngModel)]="propriedade.numero">
        </ion-input>
      </ion-item>
      <ion-item class="col-md-4">
        <ion-label position="floating">Área da Propriedade (Km²)</ion-label>
        <ion-input disabled type="text" class="p-1" [(ngModel)]="propriedade.kmQuadrados">
        </ion-input>
      </ion-item>
    </section>
    <section class="col-12 row">
      <h2>Cultivos</h2>
      <section class="col-12" align="right">
        <ion-button color="success" (click)="adicionarCultivo()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </section>
      <ion-grid class="col-12">
        <ion-row>
          <ion-col>
            <ion-text> Cultura</ion-text>
          </ion-col>
          <ion-col>
            <ion-text> Início Cultivo - Previsão Fim</ion-text>
          </ion-col>
          <ion-col class="text-center">
            <ion-text>Status</ion-text>
          </ion-col>
          <ion-col class="text-center">
            <ion-text> Ação </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list class="col-12">
        <ion-item *ngFor="let cultivo of cultivos">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text>{{cultivo.cultura.nome}}</ion-text>
              </ion-col>
              <ion-col>
                <ion-text>{{cultivo.dataInicio  | date: 'dd/MM/yyyy' }} - {{cultivo.dataFim  | date: 'dd/MM/yyyy'}}
                </ion-text>
              </ion-col>
              <ion-col class="text-center" *ngIf="cultivo.ticket != null">
                <ion-text  color="info" *ngIf="cultivo.ticket.status == 1">Aberto</ion-text>
                <ion-text color="warning" *ngIf="cultivo.ticket.status == 2">Análise</ion-text>
                <ion-text color="danger" *ngIf="cultivo.ticket.status == 3">Fechado</ion-text>
                <ion-text color="danger" *ngIf="cultivo.ticket.status == 4">Cancelado</ion-text>
              </ion-col>
              <ion-col class="text-center">
                <ion-button fill="clear" (click)="ticket(cultivo.id)" title="ticket">
                  <ion-icon name="ios-bug"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="editar(cultivo.id)" title="Editar">
                  <ion-icon name="ios-brush"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="deletar(cultivo.id,cultivo)" title="Excluir">
                  <ion-icon name="md-trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </section>
  </section>
</ion-content>