<ion-toolbar>
  <ion-title>Propriedade / <small>listar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">

    <section class="col-12" align="right">
      <ion-button (click)="cadastrar()" color="success" expanded="block" shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </section>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          Região
        </ion-col>
        <ion-col>
          Documento
        </ion-col>
        <ion-col class="text-center">
          Ação
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let propriedade of propriedades">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>{{propriedade.cidade}} - {{propriedade.uf}} </ion-text>
            </ion-col>
            <ion-col>
                <ion-text>{{propriedade.documento}}</ion-text>
              </ion-col>
            <ion-col class="text-center">
              <ion-button fill="clear" (click)="visualizar(propriedade)" title="Vizualizar">
                <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)=editar(propriedade.id) title="Editar">
                <ion-icon name="ios-brush"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="deletar(propriedade.id,propriedade.documento)" title="Excluir">
                <ion-icon name="md-trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <br>
  </section>
</ion-content>