<ion-content [scrollEvents]="true">
  <section class="page col-12">
    <section *ngIf="doenca">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input disabled [(ngModel)]="doenca.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Causador</ion-label>
        <ion-input disabled [(ngModel)]="doenca.causador"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea disabled [(ngModel)]="doenca.descricao"></ion-textarea>
      </ion-item>
      <ion-button expand="full" (click)="dismiss()">Fechar</ion-button>
    </section>
  </section>
  <section class="page col-12">
    <section *ngIf="cultura">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input disabled [(ngModel)]="cultura.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo</ion-label>
        <ion-input disabled [(ngModel)]="cultura.tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea disabled [(ngModel)]="cultura.descricao"></ion-textarea>
      </ion-item>
      <ion-button expand="full" (click)="dismiss()">Fechar</ion-button>
    </section>
  </section>
  <section class="page col-12">
    <section *ngIf="user">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Usuário</ion-label>
              <ion-input disabled [(ngModel)]="user.login"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input disabled [(ngModel)]="user.email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">Permissão</ion-label>
        <ion-select [(ngModel)]="user.role">
          <ion-select-option value="USER">USER</ion-select-option>
          <ion-select-option value="ADMIN">ADMIN</ion-select-option>
          <ion-select-option value="LAB">LAB</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" color="success" (click)="atualizar()">Atualizar</ion-button>
      <ion-button expand="full" (click)="dismiss()">Fechar</ion-button>
    </section>
  </section>

</ion-content>