<ion-toolbar>
  <ion-title>Propriedade / <small>cadastrar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <ion-item>
      <label for="autocomplete" style="padding-top:15px">
        <ion-icon name="md-search"></ion-icon>
      </label>
      <input #autocomplete required id="autocomplete" type="text" placeholder="Digite o endereço *">
    </ion-item>
    <div #map id="map"></div>
    <section class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()" class="row">
        <ion-item class="col-md-6">
          <ion-label position="floating">Logradouro</ion-label>
          <ion-input required="true" formControlName="logradouro" type="text" class="p-1"
            [(ngModel)]="propriedade.logradouro"></ion-input>
        </ion-item>
        <ion-item class="col-md-6">
          <ion-label position="floating">CEP</ion-label>
          <ion-input required="true" formControlName="cep" type="text" class="p-1" [(ngModel)]="propriedade.cep">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-6">
          <ion-label position="floating">Cidade</ion-label>
          <ion-input required="true" formControlName="cidade" type="text" class="p-1" [(ngModel)]="propriedade.cidade">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-2">
          <ion-label position="floating">UF</ion-label>
          <ion-input required="true" formControlName="uf" type="text" class="p-1" [(ngModel)]="propriedade.uf">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-4">
          <ion-label position="floating">Bairro</ion-label>
          <ion-input required="true" formControlName="bairro" type="text" class="p-1" [(ngModel)]="propriedade.bairro">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-4">
          <ion-label position="floating">Complemento</ion-label>
          <ion-input formControlName="complemento" type="text" class="p-1" [(ngModel)]="propriedade.complemento">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-4">
          <ion-label position="floating">Número<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="numero" type="text" class="p-1" [(ngModel)]="propriedade.numero">
          </ion-input>
        </ion-item>
        <ion-item class="col-md-4">
          <ion-label position="floating">Área da Propriedade (Km²)<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="kmQuadrados" type="text" class="p-1"
            [(ngModel)]="propriedade.kmQuadrados">
          </ion-input>
        </ion-item>
        <h3>Dados Adicionais Propriedade</h3>
        <ion-item class="col-12">
          <ion-label position="floating">Cadastro Ambiental Rural (CAR)<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required="true" formControlName="documento" type="text" class="p-1"
            [(ngModel)]="propriedade.documento">
          </ion-input>
        </ion-item>
      </form>
    </section>
  </section>
</ion-content>