<ion-toolbar>
  <ion-title>Usuários / <small>gerenciar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <ion-grid>
      <ion-row>
        <ion-col  size="6">
          Usuário
        </ion-col>
        <ion-col>
          Permissão
        </ion-col>
        <ion-col class="text-center">
          Ação
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let user of usuarios">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text>{{user.pessoa.nome | ucfirst }} {{user.pessoa.sobrenome | ucfirst }} - {{user.email | ucfirst }}</ion-text>
            </ion-col>
            <ion-col>
                <ion-text>{{user.role}}</ion-text>
              </ion-col>
            <ion-col class="text-center">
              <ion-button fill="clear" (click)="visualizar(user)" title="Vizualizar">
                <ion-icon name="search"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </section>
</ion-content>