<ion-toolbar>
  <ion-title>Cultura / <small>visualizar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 ">
        <ion-item class="col-md-12">
          <ion-label position="floating">Nome <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input disabled type="type"  [(ngModel)]="cultura.nome"></ion-input>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Tipo <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select disabled  [(ngModel)]="cultura.tipo">
            <ion-select-option value="Grãos">Grão</ion-select-option>
            <ion-select-option value="Vegetal">Vegetal</ion-select-option>
            <ion-select-option value="Tubérculo">Tubérculo</ion-select-option>
            <ion-select-option value="Broto">Broto</ion-select-option>
            <ion-select-option value="Raíz">Raíz</ion-select-option>
            <ion-select-option value="Caule">Caule</ion-select-option>
            <ion-select-option value="Fruta">Fruta</ion-select-option>
            <ion-select-option value="Carnívora">Carnívora</ion-select-option>
            <ion-select-option value="Fungo">Fungo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Descrição</ion-label>
          <ion-textarea disabled [(ngModel)]="cultura.descricao"></ion-textarea>
        </ion-item>
    </section>
    <section class="col-12">
      <h3>Contamina</h3>
      <section class="col-12" align="right">
          <ion-button color="success" (click)="addContamina()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </section>
      <ion-grid>
          <ion-row>
            <ion-col>
              Enfermidade
            </ion-col>
            <ion-col class="text-center">
              Ação
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
            <ion-item *ngFor="let contamina of contaminacao">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-text>{{contamina.doenca.nome}}</ion-text>
                  </ion-col>
                  <ion-col class="text-center">
                    <ion-button fill="clear" (click)=editar(contamina.id) title="Editar">
                      <ion-icon name="ios-brush"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)="deletar(contamina.id,contamina.doenca.nome)" title="Excluir">
                      <ion-icon name="md-trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
    </section>
  </section>
</ion-content>