<ion-toolbar>
  <ion-title>Tratamento / sugestão</ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <form [formGroup]="form" (ngSubmit)="submit()" class="col-12 row">

      <section class="col-12" align="right">
        <ion-button (click)="back()" color="dark" expanded="block" shape="round">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
          <ion-icon name="md-checkmark"></ion-icon>
        </ion-button>
      </section>

      <section class="col-12">
        <h2>Sugerir Tratamento Existente</h2>
        <ion-item>
          <ion-label position="floating">Tratamentos
          </ion-label>
          <ion-select formControlName="tratamento" [(ngModel)]="tratamento" [compareWith]="compareById">
            <ion-select-option *ngFor="let trat of tratamentos" [value]="trat">{{trat.titulo}}</ion-select-option>
          </ion-select>
        </ion-item>
      </section>

      <section class="col-12">
        <h2>Sugerir Novo Tratamento</h2>

        <ion-item class="col-md-12">
          <ion-label position="floating">Título
          </ion-label>
          <ion-input formControlName="titulo" [(ngModel)]="tratamento.titulo"></ion-input>
        </ion-item>

        <ion-item class="col-md-12">
          <ion-label position="floating">Descrição
          </ion-label>
          <ion-textarea class="p-1" rows="7" formControlName="descricao" [(ngModel)]="tratamento.descricao">
          </ion-textarea>
        </ion-item>
      </section>

      <!--section class="col-12">
        <h2 class="col-12">Detalhes da Ocorrência</h2>
        <ion-item class="col-md-12">
          <ion-label position="floating">Orientações</ion-label>
          <ion-textarea rows="7" formControlName="orientacoes" spellcheck="true"
            placeholder="Descreva suas orientações neste bloco...">
          </ion-textarea>
        </ion-item>
      </section-->
    </form>
  </section>
</ion-content>