<ion-toolbar>
  <ion-title>Enfermidades / <small>listar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="cadastrar()" color="success" expanded="block" shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </section>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          Nome
        </ion-col>
        <ion-col>
          Causador
        </ion-col>
        <ion-col class="text-center">
          Ação
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let doenca of doencas">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>{{doenca.nome}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{doenca.causador}}</ion-text>
            </ion-col>
            <ion-col class="text-center">
              <ion-button fill="clear"  (click)="visualizar(doenca)" title="Vizualizar">
                <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)=editar(doenca.id) title="Editar">
                <ion-icon name="ios-brush"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="deletar(doenca.id,doenca.nome)" title="Excluir">
                <ion-icon name="md-trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </section>
</ion-content>