<ion-content>
  <div class="map-content">
    <div #map id="map"></div>
  </div>
  <section class="col-md-12 row p-3">
    <section class="col-md-4">
      <h3>Áreas Contaminadas</h3>
      <ion-content style="height: 300px">
        <ion-list *ngFor="let prop of propriedades">
          <ion-item (click)="showPropriedade(prop)">
            <ion-label>{{prop.cidade}} - {{prop.uf}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </section>
    <section class="col-md-8">
      <ion-item *ngFor="let ticket of tickets">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <h2>{{ticket.cultura.nome}} - {{ticket.ticket.contamina.doenca.nome}} </h2>

              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align="right">
              <ion-text>{{ticket.ticket.dataCriacao | date: 'dd/MM/yyyy'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngFor="let solucao of ticket.ticket.solucao">
                <h3 class="col-md-12">{{solucao.tratamento.titulo}}</h3>
                <ion-content style="height:200px">
                  <p class="col-md-12">{{solucao.tratamento.descricao}}</p>
                </ion-content>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </section>
  </section>
</ion-content>