<ion-toolbar>
  <ion-title>Cultura / <small>listar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
  <section class="col-12" align="right">
    <ion-button (click)="cadastrar()" color="success" expanded="block" shape="round">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </section>
  <br>
  <ion-grid>
      <ion-row>
        <ion-col>
          Nome
        </ion-col>
        <ion-col>
          Tipo
        </ion-col>
        <ion-col class="text-center">
          Ação
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let cultura of culturas">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>{{cultura.nome}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{cultura.tipo}}</ion-text>
            </ion-col>
            <ion-col class="text-center">
              <ion-button fill="clear"  (click)="visualizar(cultura.id)" title="Vizualizar">
                <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)=editar(cultura.id) title="Editar">
                <ion-icon name="ios-brush"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="deletar(cultura.id,cultura.nome)" title="Excluir">
                <ion-icon name="md-trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</section>
</ion-content>