<ion-toolbar>
  <ion-title>Ocorrência / <small>listar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <ion-grid>
      <ion-row>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          Contaminação
        </ion-col>
        <ion-col>
          Criado
        </ion-col>
        <ion-col>
          Finalizado
        </ion-col>
        <ion-col class="text-center">
          Ação
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item *ngFor="let ticket of tickets">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text *ngIf="ticket.status == 1" color="primary">
                Aberto
              </ion-text>
              <ion-text *ngIf="ticket.status == 2" color="warning">
                Análise
              </ion-text>
              <ion-text *ngIf="ticket.status == 3" color="danger">
                Finalizado
              </ion-text>
              <ion-text *ngIf="ticket.status == 4" color="danger">
                Cancelada
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{ticket.contamina.cultura.nome}} - {{ticket.contamina.doenca.nome}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{ticket.dataCriacao  | date: 'dd/MM/yyyy'}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{ticket.dataFechamento  | date: 'dd/MM/yyyy'}}</ion-text>
            </ion-col>
            <ion-col class="text-center">
              <ion-button fill="clear" (click)=visualizar(ticket.id) title="Visualizar">
                <ion-icon name="ios-search"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </section>
</ion-content>