<ion-toolbar>
  <ion-title>Ticket / <small>ocorrência</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()" class="row">

        <ion-toolbar *ngIf="ticket.status == 1" color="primary">
          <ion-title>
            <ion-icon name="ios-alert"></ion-icon> Aberto
          </ion-title>
        </ion-toolbar>
        <ion-toolbar *ngIf="ticket.status == 2" color="warning">
          <ion-title>
            <ion-icon name="ios-alert"></ion-icon> Análise
          </ion-title>
        </ion-toolbar>
        <ion-toolbar *ngIf="ticket.status == 3" color="danger">
          <ion-title>
            <ion-icon name="ios-alert"></ion-icon> Finalizado
          </ion-title>
        </ion-toolbar>
        <ion-toolbar *ngIf="ticket.status == 4" color="danger">
          <ion-title>
            <ion-icon name="ios-alert"></ion-icon> Cancelada
          </ion-title>
        </ion-toolbar>


        <ion-item class="col-md-12">
          <ion-label position="floating">Cultura <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select required disabled formControlName="cultura" [(ngModel)]="cultivo.cultura"
            [compareWith]="compareById">
            <ion-select-option *ngFor="let cul of culturas" [value]="cul">{{cul.nome}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="col-md-12">
          <ion-label position="floating">Enfermidade <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select required formControlName="contamina" [(ngModel)]="ticket.contamina" [compareWith]="compareById">
            <ion-select-option selected *ngFor="let doe of contaminacao" [value]="doe">{{doe.doenca.nome}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="col-md-12">
          <ion-label position="floating">Descrição <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-textarea required="true" rows="7" formControlName="descricao" class="p-1" [(ngModel)]="ticket.descricao">
          </ion-textarea>
        </ion-item>

      </form>
    </section>
    <section class="col-12" *ngIf="ticket.status == 3">
      <h2>Tratamentos Sugeridos</h2>
      <ion-item *ngFor="let sol of solucoes">
        <ion-grid>
          <ion-row>
            <h3>{{sol.tratamento.titulo}}</h3>
            <ion-text>{{sol.tratamento.descricao }} </ion-text>
          </ion-row>
        </ion-grid>
      </ion-item>
    </section>
    <section class="col-md-12">
      <h2>Imagens da Enfermidade</h2>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Imagens</ion-label>
              <ion-input type="file" name="file" (change)="uploadImg1($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Imagens</ion-label>
              <ion-input type="file" name="file" (change)="uploadImg2($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Imagens</ion-label>
              <ion-input type="file" name="file" (change)="uploadImg3($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
    <section class="col-md-12">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img *ngIf="ticket.img1" [src]="ticket.img1" width="200px"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img *ngIf="ticket.img2" [src]="ticket.img2" width="200px"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img *ngIf="ticket.img3" [src]="ticket.img3" width="200px"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </section>
</ion-content>