<ion-toolbar>
  <ion-title>Cultura / <small>cadastrar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 ">
      <form [formGroup]="form" (ngSubmit)="submit()" class="col-12 row">
        <ion-item class="col-md-12">
          <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="type" required formControlName="nome" [(ngModel)]="cultura.nome"></ion-input>
        </ion-item>
        <ion-item class="col-md-12">
          <ion-label position="floating">Tipo <ion-text color="danger">*</ion-text></ion-label>
          <ion-select  required formControlName="tipo"  [(ngModel)]="cultura.tipo">
            <ion-select-option value="Grãos">Grão</ion-select-option>
            <ion-select-option value="Vegetal">Vegetal</ion-select-option>
            <ion-select-option value="Tubérculo">Tubérculo</ion-select-option>
            <ion-select-option value="Broto">Broto</ion-select-option>
            <ion-select-option value="Raíz">Raíz</ion-select-option>
            <ion-select-option value="Caule">Caule</ion-select-option>
            <ion-select-option value="Fruta">Fruta</ion-select-option>
            <ion-select-option value="Carnívora">Carnívora</ion-select-option>
            <ion-select-option value="Fungo">Fungo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="col-md-12">
            <ion-label position="floating">Descrição</ion-label>
            <ion-textarea formControlName="descricao"  [(ngModel)]="cultura.descricao"></ion-textarea>
          </ion-item>
      </form>
    </section>
  </section>
</ion-content>