<ion-toolbar>
  <ion-title>Contamina / <small>cadastrar</small></ion-title>
</ion-toolbar>
<ion-content [scrollEvents]="true">
  <section class="col-12 page">
    <section class="col-12" align="right">
      <ion-button (click)="back()" color="dark" expanded="block" shape="round">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="salvar()" color="success" expanded="block" shape="round">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </section>
    <section class="col-12 ">
      <form [formGroup]="form" (ngSubmit)="submit()" class="col-12 row">

        <ion-item class="col-md-12">
          <ion-label position="floating">Cultura <ion-text color="danger">*</ion-text>
          </ion-label>
          <!--ion-select required formControlName="cultura" [(ngModel)]="cultura" [compareWith]="compareById">
            <ion-select-option  *ngFor="let cul of culturas"  [value]="cul">{{cul.nome}}</ion-select-option>
          </ion-select-->
          <ion-input formControlName="cultura" disabled [(ngModel)]="cultura.nome" type="text"></ion-input>
        </ion-item>

        <ion-item class="col-md-12">
          <ion-label position="floating">Enfermidade <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select required formControlName="doenca" [(ngModel)]="doenca" [compareWith]="compareById">
              <ion-select-option *ngFor="let doe of doencas"  [value]="doe">{{doe.nome}}</ion-select-option>
            </ion-select>
        </ion-item>

      </form>
    </section>
  </section>
</ion-content>